{{ define "css" }}
<link rel="stylesheet" href="/static/css/custom/admin-widgets.css">
{{ end }}

{{ define "main" }}

<div class="column-group">
  <div class="all-50">
    <h3>Media</h3>
  </div>  
  <div class="all-50">
    <a href="/admin/newmedia" class="ink-button blue push-right">New Media</a>
  </div>
</div>

<div class="column-group gutters">
  {{ $fqdn := .Fqdn }}
  {{ if .Medias }}
  {{ range .Medias }}
  <div class="xlarge-25 large-33 medium-33 small-50 tiny-100 admin-pages">
    <div class="panel">
      <div class="panel-header">
        <h4>
          {{ .Title }}
        </h4>
      </div>
      <div class="panel-body" style="font-size:.8em;">      
        {{ if fileicon .Filename }}
        <p><i class="fa fa-file-{{ fileicon .Filename }}-o fa-3x"></i></p>
        {{ else }}
        <img src="/static/uploads/thumb_{{ .Filename }}">
        {{ end }}
        <!-- <p>http://{{ $fqdn }}/static/uploads/{{ .Filename }}</p> -->
      </div>
      <div class="admin-widgets-preview-controls">
        <ul>          
          <li>
            <a href="/admin/deleteitem/media/{{ .Id }}" class="delete-item">delete</a>
          </li>
          <li>
            <a class="copy-media-link" data-link="http://{{ $fqdn }}/static/uploads/{{ .Filename }}">copy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{ end }}
  
  {{ else }}
  <div class="all-100">
    <p>No Media <a href="/admin/newmedia">Add some now</a></p>
  </div>
  {{ end }}
</div>

{{ end }}

{{ define "js" }}
<script src="/static/js/build/custom/admin-media.min.js"></script>
{{ end }}

