{{ define "title" }}404 Page Not Found{{ end }}
{{ define "metatags" }}{{ end }}


{{ define "css" }}
{{ end }}

{{ define "main" }}

{{ $fqdn := .Fqdn }}

<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    <h3>Page Not Found</h3>
    <a href="/">Return Home</a>
  </div>
  <div class="col-1"></div>
</div>
  

{{ end }}

{{ define "js" }}{{ end }}
