{{ define "title" }}{{ .Meta.Title }}{{ end }}
{{ define "metatags" }}
<meta name="description" content="{{ .Page.Metatags }}">
{{ end }}

{{ define "css" }}
{{ end }}

{{ define "main" }}

{{ $fqdn := .Fqdn }}

<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    <form action="/contact" method="post" id="form-contact" class="medium" data-process="contact">
      <fieldset>
	    <p>
	      <input name="email" id="email" type="text" placeholder="Email" value="" />
	    </p>        
        <p>          
          <textarea name="message" id="message" type="textarea" placeholder="Message"></textarea>
        </p>
	    <p>
	      <button type="submit">Submit</button>
	    </p>

        <p id="contact-confirm">
          Thanks for your enquiry - we will contact you soon.
        </p>

      </fieldset>
    </form>
    
    {{ if .Message }}	
    {{ range .Message }}
    <p class="alert alert-error">{{ . }}</p>
    {{ end }}
    {{ end }}    
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    {{ .Content }}
    {{ if .Account.Email }} 
    <p id="site-page-edit">
	  <a href="/admin/editpage/{{ .Page.Slug }}">Edit Page</a>
    </p>
    {{ end }}
  </div>
  <div class="col-1"></div>
</div>

{{ if .Subwidgets }}
<div class="row">
  <div class="col-1"></div>
  {{ range .Subwidgets }}
  <div class="{{ .Widgetsize }}">
    {{ .Content | unescaped }}    
    {{ if fileicon .Filename }}
    <p><a href="http://{{ $fqdn }}/static/uploads/{{ .Filename }}"><i class="fa fa-file-{{ fileicon .Filename }}-o fa-3x"></i></a></p>
    {{ else }}
    <img src="/static/uploads/{{ .Filename }}" width="100%" >
    {{ end }}
  </div>
  {{ end }}
  <div class="col-1"></div>
</div>
{{ end }}

{{ end }}

{{ define "js" }}{{ end }}
