{{ define "metatags" }}
<meta name="keywords" content="{{ .Settings.Keywords }}">
<meta name="description" content="{{ .Settings.Description }}">
{{ end }}

{{ define "css" }}{{ end }}

{{ define "main" }}
{{ $fqdn := .Fqdn }}

<div class="row">
  <div class="col-4"></div>  
  <div class="col-2" id="home-search">
	<form method="post" action="/search">
      <ul>
        <li><input type="text" name="search" placeholder="Search our site"/><input type="submit" value="Search"/></li>
      </ul>
	</form>
  </div>
</div>

<div class="row">
  <div class="col-4"></div>  
  <div class="col-2" id="home-subscribe">
	<form method="post" action="/subscribe">
      <ul>
        <li><input type="text" name="email" placeholder="Email"/><input type="submit" value="Subscribe"/></li>
      </ul>
	</form>
  </div>
</div>

  
{{ if .Sliders }}
{{ range .Sliders }}
<div class="row">
  <div class="col-1"></div>  
  <div class="col-4">
    <h3>{{ .Title }}</h3>
    <img src="/static/uploads/{{ .Filename }}" width="100%" >
    <p>{{ .Content }}</p>
    <p><a href="{{ .Url }}">{{ .Url }}</a></p>
  </div>
  <div class="col-1"></div>
</div>
{{ end }}
{{ end }}


{{ if .Page }}
<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    {{ .Page.Content | unescaped }}
    {{ if .Account.Email }} 
    <p id="site-page-edit">
	  <a href="/admin/editpage/{{ .Page.Slug }}">Edit Page</a>
    </p>
    {{ end }}
  </div>
  <div class="col-1">
  </div>
</div>
{{ end }}


{{ if .Subwidgets }}
<div class="row">
  <div class="col-1"></div>
  {{ range .Subwidgets }}
  <div class="{{ .Widgetsize }}">
    {{ .Content | unescaped }}    
    {{ if fileicon .Filename }}
    <p><a href="http://{{ $fqdn }}/static/uploads/{{ .Filename }}"><i class="fa fa-file-{{ fileicon .Filename }}-o fa-2x"></i></a></p>
    {{ else }}
    <img src="/static/uploads/{{ .Filename }}" width="100%" >
    {{ end }}
  </div>
  {{ end }}
  <div class="col-1"></div>
</div>
{{ end }}


{{ if .Posts }}
{{ range .Posts }}
<div class="row">
  <div class="col-1"></div>  
  <div class="col-4">
    <h3><a href="{{ .Slug }}">{{ .Title }}</a></h3>
    <p>{{ .Created_At | formattime }}</p>
  </div>
  <div class="col-1"></div>
</div>
{{ end }}
{{ end }}


{{ end }}

{{ define "js" }}{{ end }}
