<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{ template "metatags" . }}
    <title>{{ .Meta.Title }}</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/site/site.css">
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css">
    {{ template "css" . }}	
  </head>
  
  <body>
    <div class="container">
      <div class="row header">
	    <div class="col-2">
	      <h1><a href="/">{{ .Sitename }}</a></h1>
	    </div>
        <div class="col-4">
	      <nav>
	        <ul id="site-nav">
              {{ $active := .Meta.Nav }}
              {{ if .TopNavPages }}	
              {{ range .TopNavPages }}
              <li><a href="/{{.Slug}}" {{ if eq .Slug $active }} class="active" {{ end }}>{{ .Title }}</a>
              {{ if .Subpages }}	
                <ul>
                  {{ range .Subpages }}
                  <li><a href="/{{.Slug}}">{{ .Title }}</a></li>
                  {{ end }}              
                </ul>
              {{ end }}
              </li>
              {{ end }}
              {{ end }}
            </ul>
	      </nav>	
	    </div>
      </div>

      <div class="content">
        {{ template "main" . }}      
      </div>
      
      <footer>
        <div class="row">
          <div class="col-6">
	      <nav>
	        <ul id="footer-nav">
              {{ if .FooterNavPages }}	
              {{ range .FooterNavPages }}
              <li><a href="/{{.Slug}}" {{ if eq .Slug $active }} class="active" {{ end }}>{{ .Title }}</a>
              {{ if .Subpages }}	
                <ul>
                  {{ range .Subpages }}
                  <li><a href="/{{.Slug}}">{{ .Title }}</a></li>
                  {{ end }}              
                </ul>
              {{ end }}
              </li>
              {{ end }}
              {{ end }}
            </ul>
	      </nav>	
          </div>
        </div>
      </footer>
      
    </div><!-- end container -->
    
    <div class="clear"></div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4" id="site-login">
        <ul>
	      <li><a href="/admin">Admin</a></li>
          {{ if .Account.Email }} 
	      <li><a href="/logout">Logout</a></li>
          {{ else }}
	      <li><a href="/login" {{ if eq "login" $active }} class="active" {{ end }}>Login</a></li>
          {{ end }}
        </ul>            
      </div>
      <div class="col-1"></div>      
    </div>

    <script src="/static/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/static/js/build/site/{{ .Sitename }}.min.js"></script>
    {{ template "js" . }}
  </body>
</html>
