{{ define "metatags" }}{{ end }}
{{ define "title" }}{{ .Meta.Title }}{{ end }}
{{ define "css" }}
{{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-2"></div>
  
  <div class="col-2">
    <form action="/login" method="post" id="form-login">
      <fieldset>
        <p>
	      <input name="email" id="email" type="text" placeholder="Email" value="{{ .Email }}"/>
        </p>
        <p>
          <input name="password" id="password" type="password" placeholder="Password"/>
        </p>
        <p>
          <button type="submit">Login</button>
        </p>
        <p id="reset-show">Forgot password?</p>
        <p id="reset-confirm">Temporary password sent</p>
      </fieldset>
    </form>

    {{ if .Message }}	
    {{ range .Message }}
    <p class="alert alert-error">{{ . }}</p>
    {{ end }}
    {{ end }}



    <form action="/reset" method="post" id="form-reset" data-process="reset" >
      <fieldset>
        <p>
          <input name="email" id="email" type="text" placeholder="Email" required/>
        </p>
        <p>
          <button type="submit" class="ink-button">Submit</button>
        </p>
      </fieldset>
    </form>

  </div>


  <div class="col-2"></div>

</div>

{{ end }}

{{ define "js" }}{{ end }}
