{{ define "metatags" }}<meta name="description" content="{{ .Settings.Keywords }}">{{ end }}
{{ define "title" }}{{ .Meta.Title }}{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="/static/css/custom/admin-map.css" />
{{ end }}

{{ define "main" }}

{{ $fqdn := .Fqdn }}

<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    <div id="loader">
	  <img src="/static/images/loading.gif"  alt="loading map"/>	  
	</div>
    <div id="map" style="height:600px;"></div>    
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    {{ .Content }}
    {{ if .Account.Email }} 
    <p id="site-page-edit">
	  <a href="/admin/editpage/{{ .Page.Slug }}">Edit Page</a>
    </p>
    {{ end }}
  </div>
  <div class="col-1"></div>
</div>

{{ if .Subwidgets }}
<div class="row">
  <div class="col-1"></div>
  {{ range .Subwidgets }}
  <div class="{{ .Widgetsize }}">
    {{ .Content | unescaped }}    
    {{ if fileicon .Filename }}
    <p><a href="http://{{ $fqdn }}/static/uploads/{{ .Filename }}"><i class="fa fa-file-{{ fileicon .Filename }}-o fa-3x"></i></a></p>
    {{ else }}
    <img src="/static/uploads/{{ .Filename }}" width="100%" >
    {{ end }}
  </div>
  {{ end }}
  <div class="col-1"></div>
</div>
{{ end }}


{{ end }}

{{ define "js" }}
<script src="/static/js/vendor/leaflet-0.7.3.js"></script>
<script src="/static/js/build/custom/map.min.js"></script>
{{ end }}
