{{ define "title" }}{{ .Meta.Title }}{{ end }}
{{ define "metatags" }}
<meta name="description" content="{{ .Page.Metatags }}">
{{ end }}


{{ define "css" }}
{{ end }}

{{ define "main" }}
{{ $fqdn := .Fqdn }}
<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    {{ .Page.Content | unescaped }}
    {{ if .Account.Email }} 
    <p id="site-page-edit">
	  <a href="/admin/editpage/{{ .Page.Slug }}">Edit Page</a>
    </p>
    {{ end }}
  </div>
  <div class="col-1"></div>
</div>
  

{{ if .Subwidgets }}
<div class="row">
  <div class="col-1"></div>
  {{ range .Subwidgets }}
  <div class="{{ .Widgetsize }}">
    {{ .Content | unescaped }}    
    {{ if fileicon .Filename }}
    <p><a href="http://{{ $fqdn }}/static/uploads/{{ .Filename }}"><i class="fa fa-file-{{ fileicon .Filename }}-o fa-2x"></i></a></p>
    {{ else }}
    <img src="/static/uploads/{{ .Filename }}" width="100%" >
    {{ end }}
  </div>
  {{ end }}
  <div class="col-1"></div>
</div>
{{ end }}


{{ end }}

{{ define "js" }}{{ end }}
