{{ define "title" }}{{ .Meta.Title }}{{ end }}
{{ define "metatags" }}{{ end }}
{{ define "css" }}{{ end }}

{{ define "main" }}

{{ $fqdn := .Fqdn }}

<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    <h2>{{ .Post.Title }}</h2>
    {{ if .Post.Filename }}    
    {{ if fileicon .Post.Filename }}
    <p><a href="http://{{ $fqdn }}/static/uploads/{{ .Filename }}"><i class="fa fa-file-{{ fileicon .Filename }}-o fa-2x"></i></a></p>
    {{ else }}
    <img src="/static/uploads/{{ .Post.Filename }}" width="40%" style="float:left; padding: 12px;"/>
    {{ end }}
    {{ end }}
    {{ .Post.Content | unescaped }}    
    
    <div class="clear"></div>
    <p style="text-align:right;"><small>Posted: {{ .Post.Created_At | formattime }}</small></p>
  </div>
  <div class="col-1"></div>
</div>
  

{{ end }}

{{ define "js" }}{{ end }}
