{{ define "title" }}{{ .Meta.Title }}{{ end }}
{{ define "metatags" }}{{ end }}
{{ define "css" }}{{ end }}

{{ define "main" }}
{{ $fqdn := .Fqdn }}

{{ if .Posts }}
{{ range .Posts }}
<div class="row">
  <div class="col-1"></div>  
  <div class="col-4">
    <h3><a href="{{ .Slug }}">{{ .Title }}</a></h3>
    <p>{{ .Created_At | formattime }}</p>
  </div>
  <div class="col-1"></div>
</div>
{{ end }}
{{ end }}
  

{{ end }}

{{ define "js" }}{{ end }}
