{{ define "title" }}{{ .Meta.Title }}{{ end }}
{{ define "metatags" }}{{ end }}
{{ define "css" }}{{ end }}

{{ define "main" }}
{{ $fqdn := .Fqdn }}

<div class="row">
  <div class="col-1"></div>  
  <div class="col-4">
    <h2>Search Results</h2>
    {{ if .Results }}
    {{ range .Results }}
    <h3><a href="{{ .Slug }}">{{ .Title }}</a></h3>
    {{ end }}
    {{ end }}
  </div>
  <div class="col-1"></div>
</div>
  

{{ end }}{{ define "js" }}{{ end }}
