{{ define "title" }}{{ .Meta.Title }}{{ end }}
{{ define "metatags" }}{{ end }}
{{ define "css" }}{{ end }}

{{ define "main" }}
{{ $fqdn := .Fqdn }}

<div class="row">
  <div class="col-1"></div>  
  <div class="col-4">
    <h2>Thanks - you have been unsubscribed</h2>    
    <p><a href="/">Return Home</a></p>
  </div>
  <div class="col-1"></div>
</div>
  

{{ end }}{{ define "js" }}{{ end }}
