.admin-pages-preview {
  height: 140px;
  overflow: auto;
  padding: 4px;
  font-size: .4em; }

.admin-pages-preview-subpages h4, .admin-pages-preview-subpages h5 {
  margin: 12px 4px 0 4px; }
.admin-pages-preview-subpages ul {
  padding: 4px;
  margin: 4px 0 0 0; }
  .admin-pages-preview-subpages ul li {
    display: block;
    font-size: .82em;
    list-style-type: none;
    text-align: center;
    background: #D6F3FF;
    margin-top: 4px; }
    .admin-pages-preview-subpages ul li:hover {
      background: #11a5e0;
      color: #ffffff; }
    .admin-pages-preview-subpages ul li a {
      display: block;
      padding: 4px 6px;
      color: #444444; }
      .admin-pages-preview-subpages ul li a:hover {
        text-decoration: none;
        color: #ffffff; }

.admin-pages-status {
  font-size: .8em;
  position: absolute;
  top: 2px;
  right: 2px;
  display: block-inline;
  padding: 2px 6px;
  color: #ffffff; }
  .admin-pages-status a {
    color: #ffffff; }

.status-live {
  background: #2EB81F; }
  .status-live:hover {
    background: #238718; }

.status-draft {
  background: #FAAF23; }
  .status-draft:hover {
    background: #d69620; }

/*# sourceMappingURL=admin-pages.css.map */
